absl-py==0.6.1
astor==0.7.1
bcolz==1.2.1
cycler==0.10.0
gast==0.2.1.post0
grpcio==1.17.1
h5py==2.9.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.2
multidict==4.5.2
nltk==3.4
numpy==1.15.4
Pillow==5.4.1
protobuf==3.6.1
pulsar==2.0.2
pyparsing==2.3.1
python-dateutil==2.7.5
scikit-learn==0.20.2
scipy==1.2.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
tflearn==0.3.2
Werkzeug==0.14.1
